
.rock-shop:before { content: '\e800'; } /* '' */
.rock-play:before { content: '\e801'; } /* '' */
.rock-logo-outline:before { content: '\e802'; } /* '' */
.rock-close:before { content: '\e803'; } /* '' */
.rock-menu:before { content: '\e804'; } /* '' */
.rock-twitter:before { content: '\f058'; } /* '' */
.rock-youtube-play:before { content: '\f16a'; } /* '' */
.rock-instagram:before { content: '\f16d'; } /* '' */
.rock-twitch:before { content: '\f1e8'; } /* '' */
.rock-facebook-squared:before { content: '\f308'; } /* '' */